In [1]:
#libraries
import pandas as pd
from sqlalchemy import create_engine

In [2]:
from urllib.parse import quote_plus
MYSQL_db="inventory"
MYSQL_port="3306"
MYSQL_user="root"
MYSQL_host="localhost"
MYSQL_PASSWORD = "MYSQL PASSWORD" # Insert your password
encoded_pw=quote_plus(MYSQL_PASSWORD)
engine = create_engine(f"mysql+pymysql://{MYSQL_user}:{encoded_pw}@{MYSQL_host}:{MYSQL_port}/{MYSQL_db}")

In [3]:
#Checking the tables in db
tables=pd.read_sql_query(
    """SELECT table_name FROM 
    information_schema.tables WHERE table_schema='inventory';""",engine)
tables

                 TABLE_NAME
0           begin_inventory
1             end_inventory
2           purchase_prices
3                 purchases
4                     sales
5            vendor_invoice
6  vendorperformancesummary

In [4]:
pd.read_sql("SELECT COUNT(*) FROM begin_inventory",engine)

   COUNT(*)
0    206529

In [5]:
for table in tables['TABLE_NAME']:
    print("Table name: ",f"{table}")
    print(pd.read_sql(f"SELECT COUNT(*) AS count FROM {table}",engine))
    display(pd.read_sql(f"SELECT * FROM {table} LIMIT 3",engine))

Table name:  begin_inventory
    count
0  206529

,InventoryId,Store,City,Brand,Description,Size,onHand,Price,startDate
0,1_HARDERSFIELD_58,1,HARDERSFIELD,58,Gekkeikan Black & Gold Sake,750mL,8,12.99,2024-01-01
1,1_HARDERSFIELD_60,1,HARDERSFIELD,60,Canadian Club 1858 VAP,750mL,7,10.99,2024-01-01
2,1_HARDERSFIELD_62,1,HARDERSFIELD,62,Herradura Silver Tequila,750mL,6,36.99,2024-01-01

Table name:  end_inventory
    count
0  224489

,InventoryId,Store,City,Brand,Description,Size,onHand,Price,endDate
0,1_HARDERSFIELD_58,1,HARDERSFIELD,58,Gekkeikan Black & Gold Sake,750mL,11,12.99,2024-12-31
1,1_HARDERSFIELD_62,1,HARDERSFIELD,62,Herradura Silver Tequila,750mL,7,36.99,2024-12-31
2,1_HARDERSFIELD_63,1,HARDERSFIELD,63,Herradura Reposado Tequila,750mL,7,38.99,2024-12-31

Table name:  purchase_prices
   count
0  12261

,Brand,Description,Price,Size,Volume,Classification,PurchasePrice,VendorNumber,VendorName
0,58,Gekkeikan Black & Gold Sake,12.99,750mL,750,1,9.28,8320,SHAW ROSS INT L IMP LTD
1,62,Herradura Silver Tequila,36.99,750mL,750,1,28.67,1128,BROWN-FORMAN CORP
2,63,Herradura Reposado Tequila,38.99,750mL,750,1,30.46,1128,BROWN-FORMAN CORP

Table name:  purchases
     count
0  2372474

,InventoryId,Store,Brand,Description,Size,VendorNumber,VendorName,PONumber,PODate,ReceivingDate,InvoiceDate,PayDate,PurchasePrice,Quantity,Dollars,Classification
0,69_MOUNTMEND_8412,69,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,8124,2023-12-21,2024-01-02,2024-01-04,2024-02-16,35.71,6,214.26,1
1,30_CULCHETH_5255,30,5255,TGI Fridays Ultimte Mudslide,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2023-12-22,2024-01-01,2024-01-07,2024-02-21,9.35,4,37.40,1
2,34_PITMERDEN_5215,34,5215,TGI Fridays Long Island Iced,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2023-12-22,2024-01-02,2024-01-07,2024-02-21,9.41,5,47.05,1

Table name:  sales
      count
0  12825363

,InventoryId,Store,Brand,Description,Size,SalesQuantity,SalesDollars,SalesPrice,SalesDate,Volume,Classification,ExciseTax,VendorNo,VendorName
0,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,1,16.49,16.49,2024-01-01,750.0,1,0.79,12546,JIM BEAM BRANDS COMPANY
1,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,2,32.98,16.49,2024-01-02,750.0,1,1.57,12546,JIM BEAM BRANDS COMPANY
2,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,1,16.49,16.49,2024-01-03,750.0,1,0.79,12546,JIM BEAM BRANDS COMPANY

Table name:  vendor_invoice
   count
0   5543

,VendorNumber,VendorName,InvoiceDate,PONumber,PODate,PayDate,Quantity,Dollars,Freight,Approval
0,105,ALTAMAR BRANDS LLC,2024-01-04,8124,2023-12-21,2024-02-16,6,214.26,3.47,None
1,4466,AMERICAN VINTAGE BEVERAGE,2024-01-07,8137,2023-12-22,2024-02-21,15,140.55,8.57,None
2,388,ATLANTIC IMPORTING COMPANY,2024-01-09,8169,2023-12-24,2024-02-16,5,106.60,4.61,None

Table name:  vendorperformancesummary
   count
0  10514

,VendorNumber,VendorName,Brand,Description,Volume,PurchasePrice,Actual_price,Total_purchase_quantity,Total_purchase_dollars,Total_sales_quantity,Total_sales_dollars,Total_excise_tax,FreightCost,GrossProfit,ProfitMargin,StockTurnover,SalesToPurchaseRatio,VendorDependency,FreightRatio
0,1128,BROWN-FORMAN CORP,1233,Jack Daniels No 7 Black,1750.0,26.27,36.99,145080.0,3811251.60,142049.0,5.101920e+06,260999.20,68601.68,1290667.91,25.297693,0.979108,1.338647,0.042067,0.018000
1,4425,MARTIGNETTI COMPANIES,3405,Tito's Handmade Vodka,1750.0,23.19,28.99,164038.0,3804041.22,160247.0,4.819073e+06,294438.66,144929.24,1015032.27,21.062810,0.976890,1.266830,0.086495,0.038099
2,17035,PERNOD RICARD USA,8068,Absolut 80 Proof,1750.0,18.24,24.99,187407.0,3418303.68,187140.0,4.538121e+06,343854.07,123780.22,1119816.92,24.675786,0.998575,1.327594,0.075008,0.036211

In [6]:
purchases_105=pd.read_sql("SELECT * FROM purchases WHERE VendorNumber=105",engine)
purchases_105

,InventoryId,Store,Brand,Description,Size,VendorNumber,VendorName,PONumber,PODate,ReceivingDate,InvoiceDate,PayDate,PurchasePrice,Quantity,Dollars,Classification
0,69_MOUNTMEND_8412,69,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,8124,2023-12-21,2024-01-02,2024-01-04,2024-02-16,35.71,6,214.26,1
1,66_EANVERNESS_8412,66,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,8234,2023-12-29,2024-01-04,2024-01-17,2024-02-22,35.71,6,214.26,1
2,15_WANBORNE_8412,15,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,8234,2023-12-29,2024-01-07,2024-01-17,2024-02-22,35.71,6,214.26,1
3,66_EANVERNESS_8412,66,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,8836,2024-02-09,2024-02-18,2024-02-22,2024-03-31,35.71,6,214.26,1
4,10_HORNSEY_8412,10,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,8836,2024-02-09,2024-02-17,2024-02-22,2024-03-31,35.71,6,214.26,1
5,73_DONCASTER_8412,73,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,8836,2024-02-09,2024-02-15,2024-02-22,2024-03-31,35.71,6,214.26,1
6,32_MOUNTMEND_8412,32,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,8979,2024-02-18,2024-02-23,2024-03-05,2024-04-15,35.71,6,214.26,1
7,76_DONCASTER_8412,76,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,9016,2024-02-21,2024-03-01,2024-03-13,2024-04-11,35.71,6,214.26,1
8,15_WANBORNE_8412,15,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,9131,2024-02-29,2024-03-08,2024-03-14,2024-04-17,35.71,3,107.13,1
9,67_EANVERNESS_8412,67,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,9449,2024-03-22,2024-03-29,2024-04-09,2024-05-12,35.71,6,214.26,1
10,38_GOULCREST_8412,38,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,9518,2024-03-27,2024-04-06,2024-04-12,2024-05-17,35.71,6,214.26,1
11,76_DONCASTER_8412,76,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,9719,2024-04-10,2024-04-19,2024-04-28,2024-06-12,35.71,6,214.26,1
12,50_MOUNTMEND_8412,50,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,9719,2024-04-10,2024-04-19,2024-04-28,2024-06-12,35.71,6,214.26,1
13,73_DONCASTER_8412,73,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,9871,2024-04-20,2024-04-27,2024-05-10,2024-06-10,35.71,6,214.26,1
14,54_GUTHRAM_2529,54,2529,Right Gin,750mL,105,ALTAMAR BRANDS LLC,9952,2024-04-26,2024-05-06,2024-05-16,2024-06-25,23.25,6,139.50,1
15,74_PAENTMARWY_8412,74,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,9952,2024-04-26,2024-05-05,2024-05-16,2024-06-25,35.71,12,428.52,1
16,60_IRRAGIN_8412,60,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,10021,2024-05-01,2024-05-12,2024-05-23,2024-06-26,35.71,3,107.13,1
17,37_PAETHSMOUTH_8412,37,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,10222,2024-05-15,2024-05-27,2024-06-04,2024-07-05,35.71,2,71.42,1
18,47_PELLA'S WISH_8412,47,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,10377,2024-05-25,2024-06-04,2024-06-12,2024-07-19,35.71,1,35.71,1
19,76_DONCASTER_8412,76,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,10377,2024-05-25,2024-05-31,2024-06-12,2024-07-19,35.71,5,178.55,1
20,66_EANVERNESS_8412,66,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,10465,2024-05-31,2024-06-06,2024-06-21,2024-07-16,35.71,6,214.26,1
21,41_LARNWICK_8412,41,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,10465,2024-05-31,2024-06-08,2024-06-21,2024-07-16,35.71,6,214.26,1
22,73_DONCASTER_8412,73,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,10578,2024-06-08,2024-06-16,2024-06-28,2024-08-02,35.71,6,214.26,1
23,38_GOULCREST_8412,38,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,10632,2024-06-12,2024-06-24,2024-06-29,2024-08-12,35.71,6,214.26,1
24,50_MOUNTMEND_8412,50,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,10632,2024-06-12,2024-06-23,2024-06-29,2024-08-12,35.71,6,214.26,1
25,67_EANVERNESS_8412,67,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,10797,2024-06-23,2024-06-27,2024-07-07,2024-08-14,35.71,6,214.26,1
26,37_PAETHSMOUTH_8412,37,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,10835,2024-06-25,2024-07-01,2024-07-08,2024-08-05,35.71,2,71.42,1
27,34_PITMERDEN_8412,34,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,10998,2024-07-01,2024-07-05,2024-07-11,2024-08-12,35.71,6,214.26,1
28,76_DONCASTER_8412,76,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,10998,2024-07-01,2024-07-05,2024-07-11,2024-08-12,35.71,5,178.55,1
29,60_IRRAGIN_8412,60,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,11170,2024-07-13,2024-07-18,2024-07-29,2024-08-27,35.71,6,214.26,1
30,66_EANVERNESS_8412,66,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,11310,2024-07-22,2024-07-27,2024-08-04,2024-09-14,35.71,6,214.26,1
31,76_DONCASTER_8412,76,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,11310,2024-07-22,2024-07-29,2024-08-04,2024-09-14,35.71,6,214.26,1
32,73_DONCASTER_8412,73,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,11381,2024-07-27,2024-08-03,2024-08-10,2024-09-21,35.71,5,178.55,1
33,38_GOULCREST_8412,38,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,11381,2024-07-27,2024-08-03,2024-08-10,2024-09-21,35.71,6,214.26,1
34,50_MOUNTMEND_8412,50,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,11565,2024-08-09,2024-08-17,2024-08-23,2024-09-22,35.71,12,428.52,1
35,76_DONCASTER_8412,76,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,11666,2024-08-16,2024-08-22,2024-08-31,2024-10-03,35.71,6,214.26,1
36,73_DONCASTER_8412,73,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,11817,2024-08-26,2024-08-29,2024-09-10,2024-10-14,35.71,6,214.26,1
37,38_GOULCREST_8412,38,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,11835,2024-08-28,2024-09-09,2024-09-15,2024-10-14,35.71,6,214.26,1
38,76_DONCASTER_8412,76,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,11938,2024-09-04,2024-09-13,2024-09-27,2024-10-26,35.71,6,214.26,1
39,55_DRY GULCH_8412,55,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,11938,2024-09-04,2024-09-14,2024-09-27,2024-10-26,35.71,6,214.26,1
40,41_LARNWICK_8412,41,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,11938,2024-09-04,2024-09-14,2024-09-27,2024-10-26,35.71,6,214.26,1
41,66_EANVERNESS_8412,66,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,12057,2024-09-12,2024-09-22,2024-10-03,2024-11-05,35.71,6,214.26,1
42,69_MOUNTMEND_8412,69,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,12352,2024-09-27,2024-10-04,2024-10-18,2024-11-13,35.71,6,214.26,1
43,49_GARIGILL_8412,49,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,12499,2024-10-07,2024-10-11,2024-10-19,2024-12-03,35.71,6,214.26,1
44,76_DONCASTER_8412,76,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,12499,2024-10-07,2024-10-12,2024-10-19,2024-12-03,35.71,6,214.26,1
45,34_PITMERDEN_8412,34,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,12583,2024-10-13,2024-10-20,2024-10-30,2024-12-08,35.71,6,214.26,1
46,34_PITMERDEN_8412,34,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,12618,2024-10-16,2024-10-24,2024-11-04,2024-12-13,35.71,6,214.26,1
47,73_DONCASTER_8412,73,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,12802,2024-10-28,2024-11-02,2024-11-10,2024-12-24,35.71,6,214.26,1
48,67_EANVERNESS_8412,67,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,12874,2024-11-02,2024-11-07,2024-11-15,2024-12-19,35.71,6,214.26,1
49,15_WANBORNE_8412,15,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,12874,2024-11-02,2024-11-07,2024-11-15,2024-12-19,35.71,6,214.26,1
50,55_DRY GULCH_8412,55,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,13050,2024-11-14,2024-11-23,2024-12-05,2025-01-02,35.71,6,214.26,1
51,76_DONCASTER_8412,76,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,13304,2024-12-01,2024-12-05,2024-12-18,2025-01-13,35.71,6,214.26,1
52,34_PITMERDEN_8412,34,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,13336,2024-12-04,2024-12-15,2024-12-24,2025-02-04,35.71,6,214.26,1
53,32_MOUNTMEND_8412,32,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,13445,2024-12-11,2024-12-21,2024-12-28,2025-02-11,35.71,6,214.26,1
54,66_EANVERNESS_8412,66,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,13607,2024-12-21,2024-12-28,2025-01-02,2025-02-15,35.71,6,214.26,1
55,15_WANBORNE_8412,15,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,13607,2024-12-21,2024-12-26,2025-01-02,2025-02-15,35.71,6,214.26,1
56,54_GUTHRAM_2529,54,2529,Right Gin,750mL,105,ALTAMAR BRANDS LLC,13607,2024-12-21,2024-12-27,2025-01-02,2025-02-15,23.25,6,139.50,1

In [7]:
sales_105=pd.read_sql("SELECT * FROM sales WHERE VendorNo=105",engine)
sales_105

,InventoryId,Store,Brand,Description,Size,SalesQuantity,SalesDollars,SalesPrice,SalesDate,Volume,Classification,ExciseTax,VendorNo,VendorName
0,1_HARDERSFIELD_8412,1,8412,Tequila Ocho Plata Fresno,750mL,1,49.99,49.99,2024-01-24,750.0,1,0.79,105,ALTAMAR BRANDS LLC
1,1_HARDERSFIELD_8419,1,8419,Ocho Tequila Plata Corrales,100mL,1,6.99,6.99,2024-01-08,100.0,1,0.10,105,ALTAMAR BRANDS LLC
2,1_HARDERSFIELD_8419,1,8419,Ocho Tequila Plata Corrales,100mL,1,6.99,6.99,2024-01-12,100.0,1,0.10,105,ALTAMAR BRANDS LLC
3,1_HARDERSFIELD_8419,1,8419,Ocho Tequila Plata Corrales,100mL,1,6.99,6.99,2024-01-17,100.0,1,0.10,105,ALTAMAR BRANDS LLC
4,1_HARDERSFIELD_8419,1,8419,Ocho Tequila Plata Corrales,100mL,1,6.99,6.99,2024-01-19,100.0,1,0.10,105,ALTAMAR BRANDS LLC
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
262,69_MOUNTMEND_8412,69,8412,Tequila Ocho Plata Fresno,750mL,1,49.99,49.99,2024-12-16,750.0,1,0.79,105,ALTAMAR BRANDS LLC
263,69_MOUNTMEND_8412,69,8412,Tequila Ocho Plata Fresno,750mL,1,49.99,49.99,2024-12-23,750.0,1,0.79,105,ALTAMAR BRANDS LLC
264,73_DONCASTER_8412,73,8412,Tequila Ocho Plata Fresno,750mL,1,49.99,49.99,2024-12-04,750.0,1,0.79,105,ALTAMAR BRANDS LLC
265,73_DONCASTER_8412,73,8412,Tequila Ocho Plata Fresno,750mL,1,49.99,49.99,2024-12-19,750.0,1,0.79,105,ALTAMAR BRANDS LLC
266,76_DONCASTER_8412,76,8412,Tequila Ocho Plata Fresno,750mL,1,49.99,49.99,2024-12-31,750.0,1,0.79,105,ALTAMAR BRANDS LLC

In [8]:
purchase_prices_105=pd.read_sql("SELECT * FROM purchase_prices WHERE VendorNumber=105",engine)
purchase_prices_105

,Brand,Description,Price,Size,Volume,Classification,PurchasePrice,VendorNumber,VendorName
0,8412,Tequila Ocho Plata Fresno,49.99,750mL,750,1,35.71,105,ALTAMAR BRANDS LLC
1,8419,Ocho Tequila Plata Corrales,6.99,100mL,100,1,5.30,105,ALTAMAR BRANDS LLC
2,2529,Right Gin,29.99,750mL,750,1,23.25,105,ALTAMAR BRANDS LLC

In [9]:
purchases_105.groupby(['Brand','Description','Size'])[['Quantity','PurchasePrice','Dollars']].sum()

                                       Quantity  PurchasePrice  Dollars
Brand Description               Size
2529  Right Gin                 750mL        12          46.50    279.0
8412  Tequila Ocho Plata Fresno 750mL       320        1964.05  11427.2

In [10]:
#Vendor invoice table
vendor_invoice=pd.read_sql("SELECT * FROM vendor_invoice",engine)
vendor_invoice['PONumber'].nunique()

5543

In [11]:
vendor_invoice.shape

(5543, 10)

In [12]:
vendor_invoice.columns

Index(['VendorNumber', 'VendorName', 'InvoiceDate', 'PONumber', 'PODate',
       'PayDate', 'Quantity', 'Dollars', 'Freight', 'Approval'],
      dtype='object')

In [13]:
sales_105.shape

(267, 14)

In [14]:
sales_105.columns

Index(['InventoryId', 'Store', 'Brand', 'Description', 'Size', 'SalesQuantity',
       'SalesDollars', 'SalesPrice', 'SalesDate', 'Volume', 'Classification',
       'ExciseTax', 'VendorNo', 'VendorName'],
      dtype='object')

In [15]:
sales_105.groupby(['Brand','Description','Size'])[['SalesQuantity','SalesDollars','SalesPrice']].sum()

,,,SalesQuantity,SalesDollars,SalesPrice
Brand,Description,Size,,,
2529,Right Gin,750mL,12,359.88,59.98
8412,Tequila Ocho Plata Fresno,750mL,307,15346.93,12947.41
8419,Ocho Tequila Plata Corrales,100mL,6,41.94,41.94

In [16]:
purchase_prices_105.shape

(3, 9)

In [17]:
purchase_prices_105.columns

Index(['Brand', 'Description', 'Price', 'Size', 'Volume', 'Classification',
       'PurchasePrice', 'VendorNumber', 'VendorName'],
      dtype='object')

In [18]:
#Deriving Queries
# 1. Vendor invoice
# 2. Purchases and Purchase prices
# 3. Sales
# 4. Combined query

In [19]:
freight_summary=pd.read_sql_query("SELECT VendorNumber, SUM(Freight) AS FreightCost FROM vendor_invoice GROUP BY VendorNumber",engine)

In [20]:
freight_summary

     VendorNumber  FreightCost
0             105        62.39
1            4466       793.91
2             388       211.74
3             480     89286.27
4             516      8510.41
..            ...          ...
121        201359         0.09
122          4901         0.72
123         90059        74.84
124          5083        10.68
125            54         0.48

[126 rows x 2 columns]

In [21]:
pd.read_sql_query(
    """ SELECT 
    p.VendorName,p.VendorNumber,p.Brand,p.PurchasePrice,pp.Volume,pp.Price AS Actual_price,
    SUM(p.Quantity) AS Total_purchase_quantity, SUM(p.Dollars) AS Total_purchase_dollars
    FROM purchases p
    JOIN purchase_prices pp
    ON p.Brand=pp.Brand
    WHERE p.PurchasePrice>0
    GROUP BY p.VendorName,p.VendorNumber,p.Brand,p.PurchasePrice,pp.Volume,pp.Price
    ORDER BY Total_purchase_dollars;""",engine
)

,VendorName,VendorNumber,Brand,PurchasePrice,Volume,Actual_price,Total_purchase_quantity,Total_purchase_dollars
0,PROXIMO SPIRITS INC.,7245,3065,0.71,50,0.99,1.0,0.71
1,DIAGEO NORTH AMERICA INC,3960,6127,1.47,200,1.99,1.0,1.47
2,HEAVEN HILL DISTILLERIES,3924,9123,0.74,50,0.99,2.0,1.48
3,SAZERAC CO INC,8004,5683,0.39,50,0.49,6.0,2.34
4,WINE GROUP INC,9815,8527,1.32,750,4.99,2.0,2.64
...,...,...,...,...,...,...,...,...
10687,DIAGEO NORTH AMERICA INC,3960,3545,21.89,1750,29.99,138109.0,3023206.01
10688,DIAGEO NORTH AMERICA INC,3960,4261,16.17,1750,22.99,201682.0,3261197.94
10689,PERNOD RICARD USA,17035,8068,18.24,1750,24.99,187407.0,3418303.68
10690,MARTIGNETTI COMPANIES,4425,3405,23.19,1750,28.99,164038.0,3804041.22
10691,BROWN-FORMAN CORP,1128,1233,26.27,1750,36.99,145080.0,3811251.60

In [22]:
pd.read_sql_query(
    """ SELECT 
    VendorNo,VendorName,Brand,SUM(SalesQuantity) AS Total_sales_quantity,SUM(SalesDollars) AS Total_sales_dollars,
    SUM(ExciseTax) AS Total_excise_tax
    FROM Sales
    GROUP BY VendorNo,VendorName,Brand
    ORDER BY Total_sales_dollars;""",engine
)

,VendorNo,VendorName,Brand,Total_sales_quantity,Total_sales_dollars,Total_excise_tax
0,8004,SAZERAC CO INC,5287,2.0,9.800000e-01,0.10
1,9206,PHILLIPS PRODUCTS CO.,2773,1.0,9.900000e-01,0.05
2,3924,HEAVEN HILL DISTILLERIES,9123,2.0,1.980000e+00,0.10
3,3252,E & J GALLO WINERY,3933,2.0,1.980000e+00,0.10
4,10050,Russian Standard Vodka,3623,2.0,1.980000e+00,0.10
...,...,...,...,...,...,...
11267,3960,DIAGEO NORTH AMERICA INC,3545,135838.0,4.223108e+06,249587.83
11268,3960,DIAGEO NORTH AMERICA INC,4261,200412.0,4.475973e+06,368242.80
11269,17035,PERNOD RICARD USA,8068,187140.0,4.538121e+06,343854.07
11270,4425,MARTIGNETTI COMPANIES,3405,160247.0,4.819073e+06,294438.66
11271,1128,BROWN-FORMAN CORP,1233,142049.0,5.101920e+06,260999.20

In [ ]:
Combined_table=pd.read_sql_query(
    """SELECT pp.VendorNumber,pp.Brand,pp.PurchasePrice,pp.Price AS Actual_price,
    SUM(s.SalesQuantity) AS Total_sales_quantity,SUM(s.SalesDollars) AS Total_sales_dollars,SUM(s.ExciseTax) AS Total_excise_tax,
    SUM(vi.Quantity) AS Total_purchase_quantity,SUM(vi.Dollars) AS Total_purchase_dollars,SUM(vi.Freight) AS FreightCost
    FROM purchase_prices pp
    JOIN sales s ON pp.VendorNumber=s.VendorNo AND pp.Brand=s.Brand
    JOIN vendor_invoice vi ON pp.VendorNumber=vi.VendorNumber
    GROUP BY pp.VendorNumber,pp.Brand,pp.PurchasePrice,pp.Price
    ;""",engine   
)

In [22]:
Final_table = pd.read_sql_query("""
    WITH FreightSummary AS (
        SELECT 
            VendorNumber, 
            SUM(Freight) AS FreightCost
        FROM vendor_invoice
        GROUP BY VendorNumber
    ),

    PurchaseSummary AS (
        SELECT 
            p.VendorNumber,
            p.Brand,
            p.PurchasePrice,
            pp.Volume,
            pp.Price AS Actual_price,
            SUM(p.Quantity) AS Total_purchase_quantity,
            SUM(p.Dollars) AS Total_purchase_dollars
        FROM purchases p
        JOIN purchase_prices pp
            ON p.Brand = pp.Brand
        WHERE p.PurchasePrice > 0
        GROUP BY 
            p.VendorNumber,
            p.Brand,
            p.PurchasePrice,
            pp.Volume,
            pp.Price
    ),

    SalesSummary AS (
        SELECT 
            VendorNo,
            VendorName,
            Brand,
            Description,
            SUM(SalesQuantity) AS Total_sales_quantity,
            SUM(SalesDollars) AS Total_sales_dollars,
            SUM(ExciseTax) AS Total_excise_tax
        FROM Sales
        GROUP BY VendorNo, VendorName, Brand, Description
    )

    SELECT 
        ps.VendorNumber,
        ss.VendorName,
        ps.Brand,
        ss.Description,
        ps.Volume,
        ps.PurchasePrice,
        ps.Actual_price,
        ps.Total_purchase_quantity,
        ps.Total_purchase_dollars,
        ss.Total_sales_quantity,
        ss.Total_sales_dollars,
        ss.Total_excise_tax,
        fs.FreightCost
    FROM PurchaseSummary ps
    JOIN SalesSummary ss
        ON ps.VendorNumber = ss.VendorNo
       AND ps.Brand = ss.Brand
    LEFT JOIN FreightSummary fs
        ON fs.VendorNumber = ps.VendorNumber
    ORDER BY ps.Total_purchase_dollars DESC;
    """, engine)

In [23]:
Final_table.describe

<bound method NDFrame.describe of        VendorNumber                   VendorName  Brand  \
0              1128  BROWN-FORMAN CORP             1233
1              4425        MARTIGNETTI COMPANIES   3405
2             17035  PERNOD RICARD USA             8068
3              3960  DIAGEO NORTH AMERICA INC      4261
4              3960  DIAGEO NORTH AMERICA INC      3545
...             ...                          ...    ...
10509          9815  WINE GROUP INC                8527
10510          8004  SAZERAC CO INC                5683
10511          3924  HEAVEN HILL DISTILLERIES      9123
10512          3960  DIAGEO NORTH AMERICA INC      6127
10513          7245  PROXIMO SPIRITS INC.          3065

                       Description Volume  PurchasePrice  Actual_price  \
0          Jack Daniels No 7 Black   1750          26.27         36.99
1            Tito's Handmade Vodka   1750          23.19         28.99
2                 Absolut 80 Proof   1750          18.24         24.99
3           Capt Morgan Spiced Rum   1750          16.17         22.99
4                  Ketel One Vodka   1750          21.89         29.99
...                            ...    ...            ...           ...
10509  Concannon Glen Ellen Wh Zin    750           1.32          4.99
10510  Dr McGillicuddy's Apple Pie     50           0.39          0.49
10511              Deep Eddy Vodka     50           0.74          0.99
10512  The Club Strawbry Margarita    200           1.47          1.99
10513     Three Olives Grape Vodka     50           0.71          0.99

       Total_purchase_quantity  Total_purchase_dollars  Total_sales_quantity  \
0                     145080.0              3811251.60              142049.0
1                     164038.0              3804041.22              160247.0
2                     187407.0              3418303.68              187140.0
3                     201682.0              3261197.94              200412.0
4                     138109.0              3023206.01              135838.0
...                        ...                     ...                   ...
10509                      2.0                    2.64                   5.0
10510                      6.0                    2.34                 134.0
10511                      2.0                    1.48                   2.0
10512                      1.0                    1.47                  72.0
10513                      1.0                    0.71                  86.0

       Total_sales_dollars  Total_excise_tax  FreightCost
0             5.101920e+06         260999.20     68601.68
1             4.819073e+06         294438.66    144929.24
2             4.538121e+06         343854.07    123780.22
3             4.475973e+06         368242.80    257032.07
4             4.223108e+06         249587.83    257032.07
...                    ...               ...          ...
10509         1.595000e+01              0.55     27100.41
10510         6.566000e+01              7.04     50293.62
10511         1.980000e+00              0.10     14069.87
10512         1.432800e+02             15.12    257032.07
10513         8.514000e+01              4.46     38994.78

[10514 rows x 13 columns]>

In [24]:
Final_table.columns

Index(['VendorNumber', 'VendorName', 'Brand', 'Description', 'Volume',
       'PurchasePrice', 'Actual_price', 'Total_purchase_quantity',
       'Total_purchase_dollars', 'Total_sales_quantity', 'Total_sales_dollars',
       'Total_excise_tax', 'FreightCost'],
      dtype='object')

In [25]:
Final_table.size

136682

In [26]:
Final_table['VendorNumber'].nunique()

124

In [27]:
Final_table.isnull().sum()

VendorNumber               0
VendorName                 0
Brand                      0
Description                0
Volume                     0
PurchasePrice              0
Actual_price               0
Total_purchase_quantity    0
Total_purchase_dollars     0
Total_sales_quantity       0
Total_sales_dollars        0
Total_excise_tax           0
FreightCost                0
dtype: int64

In [28]:
#Hence no null values

In [29]:
Final_table.head()

,VendorNumber,VendorName,Brand,Description,Volume,PurchasePrice,Actual_price,Total_purchase_quantity,Total_purchase_dollars,Total_sales_quantity,Total_sales_dollars,Total_excise_tax,FreightCost
0,1128,BROWN-FORMAN CORP,1233,Jack Daniels No 7 Black,1750,26.27,36.99,145080.0,3811251.60,142049.0,5.101920e+06,260999.20,68601.68
1,4425,MARTIGNETTI COMPANIES,3405,Tito's Handmade Vodka,1750,23.19,28.99,164038.0,3804041.22,160247.0,4.819073e+06,294438.66,144929.24
2,17035,PERNOD RICARD USA,8068,Absolut 80 Proof,1750,18.24,24.99,187407.0,3418303.68,187140.0,4.538121e+06,343854.07,123780.22
3,3960,DIAGEO NORTH AMERICA INC,4261,Capt Morgan Spiced Rum,1750,16.17,22.99,201682.0,3261197.94,200412.0,4.475973e+06,368242.80,257032.07
4,3960,DIAGEO NORTH AMERICA INC,3545,Ketel One Vodka,1750,21.89,29.99,138109.0,3023206.01,135838.0,4.223108e+06,249587.83,257032.07

In [30]:
Final_table['VendorName'].unique()

array(['BROWN-FORMAN CORP          ', 'MARTIGNETTI COMPANIES',
       'PERNOD RICARD USA          ', 'DIAGEO NORTH AMERICA INC   ',
       'BACARDI USA INC            ', 'JIM BEAM BRANDS COMPANY    ',
       'MAJESTIC FINE WINES        ', 'ULTRA BEVERAGE COMPANY LLP ',
       'STOLI GROUP,(USA) LLC      ', 'PROXIMO SPIRITS INC.       ',
       'MOET HENNESSY USA INC      ', 'CAMPARI AMERICA            ',
       'SAZERAC CO INC             ', 'CONSTELLATION BRANDS INC   ',
       'M S WALKER INC             ', 'SAZERAC NORTH AMERICA INC. ',
       'PALM BAY INTERNATIONAL INC ', 'REMY COINTREAU USA INC     ',
       'SIDNEY FRANK IMPORTING CO  ', 'E & J GALLO WINERY         ',
       'WILLIAM GRANT & SONS INC   ', 'HEAVEN HILL DISTILLERIES   ',
       'DISARONNO INTERNATIONAL LLC', 'EDRINGTON AMERICAS         ',
       'CASTLE BRANDS CORP.        ', 'SOUTHERN WINE & SPIRITS NE ',
       'STE MICHELLE WINE ESTATES  ', 'TRINCHERO FAMILY ESTATES   ',
       'MHW LTD                    ', 'WINE GROUP INC             ',
       'PERFECTA WINES             ', 'LUXCO INC                  ',
       'TREASURY WINE ESTATES      ', 'DIAGEO CHATEAU ESTATE WINES',
       'SHAW ROSS INT L IMP LTD    ', 'PINE STATE TRADING CO      ',
       'PHILLIPS PRODUCTS CO.      ', 'CALEDONIA SPIRITS INC      ',
       'STATE WINE & SPIRITS   ', 'KOBRAND CORPORATION        ',
       'BANFI PRODUCTS CORP        ', 'VINEYARD BRANDS INC        ',
       'DELICATO VINEYARDS INC     ', 'FABRIZIA SPIRITS LLC       ',
       'DUGGANS DISTILLED PRODUCTS ', 'Serralles Usa LLC          ',
       'SEA HAGG DISTILLERY LLC    ', 'OLE SMOKY DISTILLERY LLC   ',
       'VRANKEN AMERICA            ', 'KLIN SPIRITS LLC           ',
       'LAIRD & CO                 ', 'ADAMBA IMPORTS INTL INC    ',
       'LATITUDE BEVERAGE COMPANY  ', 'FREDERICK WILDMAN & SONS   ',
       'MCCORMICK DISTILLING CO    ', 'CHARLES JACQUIN ET CIE INC ',
       'WESTERN SPIRITS BEVERAGE CO', 'MARSALLE COMPANY           ',
       'AMERICAN VINTAGE BEVERAGE  ', 'MANGO BOTTLING INC         ',
       'SWEET BABY VINEYARD        ', 'NICHE W & S                ',
       'LABELLE VYDS AND WINERY    ', 'FLAG HILL WINERY & VINEYARD',
       'SMOKY QUARTZ DISTILLERY LLC', 'PREMIUM PORT WINES, INC.   ',
       'Russian Standard Vodka     ', 'Dunn Wine Brokers          ',
       'WEIN BAUER INC             ', 'BULLY BOY DISTILLERS       ',
       'ATLANTIC IMPORTING COMPANY ', 'PREMIER DISTRIBUTORS       ',
       'VINILANDIA USA             ', 'PARK STREET IMPORTS LLC    ',
       'TAKARA SAKE USA INC        ', 'SEA BREEZE CELLARS LLC     ',
       'STARK BREWING COMPANY      ', 'TY KU LLC                  ',
       'PSP WINES ', 'TAMWORTH DISTILLING        ',
       'ZORVINO VINEYARDS          ', 'SOUTHERN GLAZERS W&S OF NE ',
       'HOOD RIVER DISTILLERS, Inc.', 'CRUSH WINES                ',
       'POVERTY LANE ORCHARDS      ', 'DJINN SPIRITS LLC          ',
       'MOONLIGHT MEADERY          ', 'TALL SHIP DISTILLERY LLC   ',
       'FORTUNE WINE BROKERS LLC   ', 'BLACK COVE BEVERAGES       ',
       'VINEXTRA INC               ', 'SURVILLE ENTERPRISES CORP  ',
       'JEWELL TOWNE VINEYARDS     ', 'SWEETWATER FARM         ',
       'MARTIGNETTI COMPANIES ', 'ALTAMAR BRANDS LLC         ',
       'CANDIA VINEYARDS           ', 'INCREDIBREW INC            ',
       'ALISA CARR BEVERAGES           ', 'STELLAR IMPORTING CO LLC   ',
       'FULCHINO VINEYARD INC      ',
       'IRA GOLDMAN AND WILLIAMS, LLP          ',
       'Circa Wines                ', 'VINEDREA WINES LLC         ',
       'BLACK PRINCE DISTILLERY INC', 'VINEYARD BRANDS LLC        ',
       'THE IMPORTED GRAPE LLC     ', 'WALPOLE MTN VIEW WINERY    ',
       'GILMANTON WINERY & VINEYARD', 'HAUNTING WHISPER VYDS      ',
       'STAR INDUSTRIES INC.       ', 'LOYAL DOG WINERY           ',
       'R.P.IMPORTS INC            ', 'THE PIERPONT GROUP LLC     ',
       'APPOLO VINEYARDS LLC       ', 'BLACK ROCK SPIRITS LLC     ',
       'CENTEUR IMPORTS LLC        ', 'HIGHLAND WINE MERCHANTS LLC',
       'AMERICAN SPIRITS EXCHANGE  ', 'UNCORKED       ',
       'BRONCO WINE COMPANY        ', 'MILTONS DISTRIBUTING CO    ',
       'TRUETT HURST               ', 'FANTASY FINE WINES CORP    ',
       'SILVER MOUNTAIN CIDERS     ', 'CAPSTONE INTERNATIONAL     ',
       'FLAVOR ESSENCE INC         '], dtype=object)

In [31]:
Final_table['Description'].nunique()

9483

In [32]:
Final_table['Description'].unique()

array(['Jack Daniels No 7 Black', "Tito's Handmade Vodka",
       'Absolut 80 Proof', ..., 'Crown Royal Apple',
       'Concannon Glen Ellen Wh Zin', 'The Club Strawbry Margarita'],
      dtype=object)

In [33]:
Final_table.dtypes

VendorNumber                 int64
VendorName                  object
Brand                        int64
Description                 object
Volume                      object
PurchasePrice              float64
Actual_price               float64
Total_purchase_quantity    float64
Total_purchase_dollars     float64
Total_sales_quantity       float64
Total_sales_dollars        float64
Total_excise_tax           float64
FreightCost                float64
dtype: object

In [34]:
Final_table['Volume']=Final_table['Volume'].astype('float64')

In [35]:
Final_table['Volume'].dtype

dtype('float64')

In [36]:
#Remove trialing spaces
Final_table['VendorName'].str.strip()

0               BROWN-FORMAN CORP
1           MARTIGNETTI COMPANIES
2               PERNOD RICARD USA
3        DIAGEO NORTH AMERICA INC
4        DIAGEO NORTH AMERICA INC
                   ...
10509              WINE GROUP INC
10510              SAZERAC CO INC
10511    HEAVEN HILL DISTILLERIES
10512    DIAGEO NORTH AMERICA INC
10513        PROXIMO SPIRITS INC.
Name: VendorName, Length: 10514, dtype: object

In [37]:
Final_table['Description'].str.strip()

0            Jack Daniels No 7 Black
1              Tito's Handmade Vodka
2                   Absolut 80 Proof
3             Capt Morgan Spiced Rum
4                    Ketel One Vodka
                    ...
10509    Concannon Glen Ellen Wh Zin
10510    Dr McGillicuddy's Apple Pie
10511                Deep Eddy Vodka
10512    The Club Strawbry Margarita
10513       Three Olives Grape Vodka
Name: Description, Length: 10514, dtype: object

In [38]:
# Adding a new col profit to keep track of
Final_table['GrossProfit']=Final_table['Total_sales_dollars']-Final_table['Total_purchase_dollars']

In [39]:
print("Minimum Gross Profit is: ",Final_table['GrossProfit'].min())
print("Maximum Gross Profit is: ",Final_table['GrossProfit'].max())
print("Average Gross Profit is: ",Final_table['GrossProfit'].mean())

Minimum Gross Profit is:  -52002.78000000001
Maximum Gross Profit is:  1290667.9100004476
Average Gross Profit is:  12364.618775916846

In [40]:
Final_table['ProfitMargin']=(Final_table['GrossProfit']/Final_table['Total_sales_dollars'])*100

In [42]:
Final_table['StockTurnover']=Final_table['Total_sales_quantity']/Final_table['Total_purchase_quantity']

In [43]:
Final_table['SalesToPurchaseRatio']=Final_table['Total_sales_dollars']/Final_table['Total_purchase_dollars']

In [53]:
# Vendor dependency
VendorShare=Final_table.groupby("VendorNumber")['Total_purchase_dollars'].sum()
Final_table.drop(columns=['VendorShare'],inplace=True)

In [54]:
TotShare=VendorShare.sum()
Final_table['VendorDependency']=Final_table["VendorNumber"].map(VendorShare)/TotShare

In [55]:
# High Sales Low Profit
Final_table.sort_values("ProfitMargin").head(5)

,VendorNumber,VendorName,Brand,Description,Volume,PurchasePrice,Actual_price,Total_purchase_quantity,Total_purchase_dollars,Total_sales_quantity,Total_sales_dollars,Total_excise_tax,FreightCost,GrossProfit,ProfitMargin,StockTurnover,SalesToPurchaseRatio,VendorDependency
3972,9819,TREASURY WINE ESTATES,27342,19 Crimes The Banished Red,750.0,8.72,12.99,1065.0,9286.80,3.0,38.97,0.33,14836.57,-9247.83,-23730.638953,0.002817,0.004196,0.009262
2147,2000,SOUTHERN WINE & SPIRITS NE,15880,San Polo Brun di Montlcno 11,750.0,48.69,74.99,600.0,29214.00,2.0,149.98,0.22,19016.59,-29064.02,-19378.597146,0.003333,0.005134,0.011623
5197,4425,MARTIGNETTI COMPANIES,27553,Hedges Family Estate Red Mtn,750.0,17.76,26.99,228.0,4049.28,1.0,26.99,0.11,144929.24,-4022.29,-14902.889959,0.004386,0.006665,0.086495
2461,9165,ULTRA BEVERAGE COMPANY LLP,27274,Jos Phelps Insignia 13,750.0,137.25,209.99,174.0,23881.50,1.0,209.99,0.11,68054.70,-23671.51,-11272.684414,0.005747,0.008793,0.040731
5184,2000,SOUTHERN GLAZERS W&S OF NE,27969,Fattoria le Pupille Poggio,750.0,24.34,36.99,168.0,4089.12,1.0,36.99,0.11,19016.59,-4052.13,-10954.663423,0.005952,0.009046,0.011623

In [58]:
# Over purchased Under sold
Final_table[Final_table["StockTurnover"]<0.5].sort_values("Total_purchase_dollars",ascending=False)

,VendorNumber,VendorName,Brand,Description,Volume,PurchasePrice,Actual_price,Total_purchase_quantity,Total_purchase_dollars,Total_sales_quantity,Total_sales_dollars,Total_excise_tax,FreightCost,GrossProfit,ProfitMargin,StockTurnover,SalesToPurchaseRatio,VendorDependency
960,4425,MARTIGNETTI COMPANIES,27031,Opus One 2013,750.0,180.27,264.99,402.0,72468.54,198.0,52468.02,22.16,144929.24,-20000.52,-38.119449,0.492537,0.724011,0.086495
963,12546,JIM BEAM BRANDS COMPANY,2277,Kilbeggan Irish Whiskey,750.0,17.03,22.99,4244.0,72275.32,1546.0,20272.54,1217.13,123880.97,-52002.78,-256.518325,0.364279,0.280490,0.075254
1167,7239,REMY COINTREAU USA INC,4785,Remy Martin XO Excellence,375.0,53.95,74.99,1101.0,59398.95,274.0,21237.26,107.64,16978.67,-38161.69,-179.692154,0.248865,0.357536,0.010431
1475,2000,SOUTHERN WINE & SPIRITS NE,2167,Old Beezer 10 Yr SB Bourbon,750.0,25.55,34.49,1833.0,46833.15,895.0,31316.05,706.43,19016.59,-15517.10,-49.549991,0.488271,0.668673,0.011623
1534,10754,PERFECTA WINES,2289,Whistle Pig Boss Hog Rye,750.0,239.19,298.99,186.0,44489.34,37.0,11062.63,29.17,28720.52,-33426.71,-302.158799,0.198925,0.248658,0.017587
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10183,17035,PERNOD RICARD USA,21149,Graffigna Centenario Cab Svg,750.0,4.60,6.99,12.0,55.20,4.0,27.96,0.44,123780.22,-27.24,-97.424893,0.333333,0.506522,0.075008
10203,4425,MARTIGNETTI COMPANIES,20503,Villa Cornaro Perl Anima,750.0,8.78,12.99,6.0,52.68,1.0,12.99,0.11,144929.24,-39.69,-305.542725,0.166667,0.246583,0.086495
10230,7153,PINE STATE TRADING CO,15289,Backhouse Pnt Grigio,750.0,3.99,7.99,12.0,47.88,5.0,39.95,0.55,15884.82,-7.93,-19.849812,0.416667,0.834378,0.009718
10240,8892,TRINCHERO FAMILY ESTATES,24417,Sutter Home Gewurz,750.0,3.92,5.99,12.0,47.04,3.0,17.97,0.33,11595.97,-29.07,-161.769616,0.250000,0.382015,0.006993
10246,4425,MARTIGNETTI COMPANIES,11653,Mas Belles Eaux Les Cot Roug,750.0,6.57,9.99,7.0,45.99,3.0,50.97,0.34,144929.24,4.98,9.770453,0.428571,1.108284,0.086495

In [59]:
# Heavy Freight
Final_table["FreightRatio"]=Final_table["FreightCost"]/Final_table["Total_purchase_dollars"]
Final_table.sort_values("FreightRatio").head(5)

,VendorNumber,VendorName,Brand,Description,Volume,PurchasePrice,Actual_price,Total_purchase_quantity,Total_purchase_dollars,Total_sales_quantity,Total_sales_dollars,Total_excise_tax,FreightCost,GrossProfit,ProfitMargin,StockTurnover,SalesToPurchaseRatio,VendorDependency,FreightRatio
5919,5083,LOYAL DOG WINERY,27689,Loyal Dog Winery Naked Apple,750.0,9.67,14.99,240.0,2320.80,74.0,1111.26,8.18,10.68,-1209.54,-108.844015,0.308333,0.478826,7.216001e-06,0.004602
10039,90026,SILVER MOUNTAIN CIDERS,46327,Silver Mtn Hard Cider,650.0,4.54,6.99,17.0,77.18,49.0,342.51,4.84,0.36,265.33,77.466351,2.882353,4.437808,2.399737e-07,0.004664
9587,90033,FANTASY FINE WINES CORP,46950,Alta Classe Mntplcno Abruzzo,750.0,5.36,7.99,24.0,128.64,41.0,327.59,4.51,0.61,198.95,60.731402,1.708333,2.546564,3.999769e-07,0.004742
910,60,ADAMBA IMPORTS INTL INC,3979,Vesica Potato Vodka,1750.0,16.27,20.99,4687.0,76257.49,3931.0,66871.69,7224.06,367.52,-9385.80,-14.035536,0.838703,0.876920,2.384926e-04,0.004819
10187,1439,CAPSTONE INTERNATIONAL,2213,King Robert II Scotch Whisky,1750.0,13.66,26.99,4.0,54.64,13.0,246.87,23.89,0.27,192.23,77.866894,3.250000,4.518119,1.698907e-07,0.004941

In [60]:
Final_table.columns

Index(['VendorNumber', 'VendorName', 'Brand', 'Description', 'Volume',
       'PurchasePrice', 'Actual_price', 'Total_purchase_quantity',
       'Total_purchase_dollars', 'Total_sales_quantity', 'Total_sales_dollars',
       'Total_excise_tax', 'FreightCost', 'GrossProfit', 'ProfitMargin',
       'StockTurnover', 'SalesToPurchaseRatio', 'VendorDependency',
       'FreightRatio'],
      dtype='object')

In [61]:
Final_table.describe

<bound method NDFrame.describe of        VendorNumber                   VendorName  Brand  \
0              1128  BROWN-FORMAN CORP             1233
1              4425        MARTIGNETTI COMPANIES   3405
2             17035  PERNOD RICARD USA             8068
3              3960  DIAGEO NORTH AMERICA INC      4261
4              3960  DIAGEO NORTH AMERICA INC      3545
...             ...                          ...    ...
10509          9815  WINE GROUP INC                8527
10510          8004  SAZERAC CO INC                5683
10511          3924  HEAVEN HILL DISTILLERIES      9123
10512          3960  DIAGEO NORTH AMERICA INC      6127
10513          7245  PROXIMO SPIRITS INC.          3065

                       Description  Volume  PurchasePrice  Actual_price  \
0          Jack Daniels No 7 Black  1750.0          26.27         36.99
1            Tito's Handmade Vodka  1750.0          23.19         28.99
2                 Absolut 80 Proof  1750.0          18.24         24.99
3           Capt Morgan Spiced Rum  1750.0          16.17         22.99
4                  Ketel One Vodka  1750.0          21.89         29.99
...                            ...     ...            ...           ...
10509  Concannon Glen Ellen Wh Zin   750.0           1.32          4.99
10510  Dr McGillicuddy's Apple Pie    50.0           0.39          0.49
10511              Deep Eddy Vodka    50.0           0.74          0.99
10512  The Club Strawbry Margarita   200.0           1.47          1.99
10513     Three Olives Grape Vodka    50.0           0.71          0.99

       Total_purchase_quantity  Total_purchase_dollars  Total_sales_quantity  \
0                     145080.0              3811251.60              142049.0
1                     164038.0              3804041.22              160247.0
2                     187407.0              3418303.68              187140.0
3                     201682.0              3261197.94              200412.0
4                     138109.0              3023206.01              135838.0
...                        ...                     ...                   ...
10509                      2.0                    2.64                   5.0
10510                      6.0                    2.34                 134.0
10511                      2.0                    1.48                   2.0
10512                      1.0                    1.47                  72.0
10513                      1.0                    0.71                  86.0

       Total_sales_dollars  Total_excise_tax  FreightCost  GrossProfit  \
0             5.101920e+06         260999.20     68601.68   1290667.91
1             4.819073e+06         294438.66    144929.24   1015032.27
2             4.538121e+06         343854.07    123780.22   1119816.92
3             4.475973e+06         368242.80    257032.07   1214774.94
4             4.223108e+06         249587.83    257032.07   1199901.61
...                    ...               ...          ...          ...
10509         1.595000e+01              0.55     27100.41        13.31
10510         6.566000e+01              7.04     50293.62        63.32
10511         1.980000e+00              0.10     14069.87         0.50
10512         1.432800e+02             15.12    257032.07       141.81
10513         8.514000e+01              4.46     38994.78        84.43

       ProfitMargin  StockTurnover  SalesToPurchaseRatio  VendorDependency  \
0         25.297693       0.979108              1.338647          0.042067
1         21.062810       0.976890              1.266830          0.086495
2         24.675786       0.998575              1.327594          0.075008
3         27.139908       0.993703              1.372493          0.158448
4         28.412764       0.983556              1.396897          0.158448
...             ...            ...                   ...               ...
10509     83.448276       2.500000              6.041667          0.016350
10510     96.436186      22.333333             28.059829          0.030834
10511     25.252525       1.000000              1.337838          0.008758
10512     98.974037      72.000000             97.469388          0.158448
10513     99.166079      86.000000            119.915493          0.023593

        FreightRatio
0           0.018000
1           0.038099
2           0.036211
3           0.078815
4           0.085020
...              ...
10509   10265.306818
10510   21493.000000
10511    9506.668919
10512  174851.748299
10513   54922.225352

[10514 rows x 19 columns]>

In [62]:
Final_table.dtypes

VendorNumber                 int64
VendorName                  object
Brand                        int64
Description                 object
Volume                     float64
PurchasePrice              float64
Actual_price               float64
Total_purchase_quantity    float64
Total_purchase_dollars     float64
Total_sales_quantity       float64
Total_sales_dollars        float64
Total_excise_tax           float64
FreightCost                float64
GrossProfit                float64
ProfitMargin               float64
StockTurnover              float64
SalesToPurchaseRatio       float64
VendorDependency           float64
FreightRatio               float64
dtype: object

In [66]:
Final_table[(Final_table["ProfitMargin"]>100)]

Empty DataFrame
Columns: [VendorNumber, VendorName, Brand, Description, Volume, PurchasePrice, Actual_price, Total_purchase_quantity, Total_purchase_dollars, Total_sales_quantity, Total_sales_dollars, Total_excise_tax, FreightCost, GrossProfit, ProfitMargin, StockTurnover, SalesToPurchaseRatio, VendorDependency, FreightRatio]
Index: []

In [67]:
Final_table[(Final_table["ProfitMargin"]<-100)]

,VendorNumber,VendorName,Brand,Description,Volume,PurchasePrice,Actual_price,Total_purchase_quantity,Total_purchase_dollars,Total_sales_quantity,Total_sales_dollars,Total_excise_tax,FreightCost,GrossProfit,ProfitMargin,StockTurnover,SalesToPurchaseRatio,VendorDependency,FreightRatio
963,12546,JIM BEAM BRANDS COMPANY,2277,Kilbeggan Irish Whiskey,750.0,17.03,22.99,4244.0,72275.32,1546.0,20272.54,1217.13,123880.97,-52002.78,-256.518325,0.364279,0.280490,0.075254,1.714015
1167,7239,REMY COINTREAU USA INC,4785,Remy Martin XO Excellence,375.0,53.95,74.99,1101.0,59398.95,274.0,21237.26,107.64,16978.67,-38161.69,-179.692154,0.248865,0.357536,0.010431,0.285841
1534,10754,PERFECTA WINES,2289,Whistle Pig Boss Hog Rye,750.0,239.19,298.99,186.0,44489.34,37.0,11062.63,29.17,28720.52,-33426.71,-302.158799,0.198925,0.248658,0.017587,0.645560
1616,10050,Russian Standard Vodka,3365,Russian Standard Vodka,1750.0,18.65,24.99,2244.0,41850.60,503.0,12569.97,924.50,732.60,-29280.63,-232.941129,0.224153,0.300353,0.000432,0.017505
1729,8664,"STOLI GROUP,(USA) LLC",749,Stolichnaya Hot Vodka,750.0,15.14,19.99,2524.0,38213.36,1625.0,16683.75,1279.43,18544.49,-21529.61,-129.045388,0.643819,0.436595,0.011379,0.485288
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10111,7153,PINE STATE TRADING CO,20019,Camelot Chard,750.0,5.44,7.99,12.0,65.28,1.0,9.99,0.11,15884.82,-55.29,-553.453453,0.083333,0.153033,0.009718,243.333640
10176,9552,M S WALKER INC,714,Allen's Peach Schnapps,1000.0,4.31,5.99,13.0,56.03,2.0,11.98,2.10,55551.82,-44.05,-367.696160,0.153846,0.213814,0.033823,991.465643
10180,9552,M S WALKER INC,746,Allen's Melon Liqueur,1000.0,4.61,5.99,12.0,55.32,1.0,5.99,1.05,55551.82,-49.33,-823.539232,0.083333,0.108279,0.033823,1004.190528
10203,4425,MARTIGNETTI COMPANIES,20503,Villa Cornaro Perl Anima,750.0,8.78,12.99,6.0,52.68,1.0,12.99,0.11,144929.24,-39.69,-305.542725,0.166667,0.246583,0.086495,2751.124525
10240,8892,TRINCHERO FAMILY ESTATES,24417,Sutter Home Gewurz,750.0,3.92,5.99,12.0,47.04,3.0,17.97,0.33,11595.97,-29.07,-161.769616,0.250000,0.382015,0.006993,246.512968

In [68]:
# All the above ones suggest heavy loss or bulk purchases or discontinued brands. Hence they are outliers and will later be processed in EDA

In [83]:
Final_table.to_csv(r"C:\\Users\\LASYA\\Downloads\\PowerBI projects\\Vendor performance analysis\\VendorPerformanceSummary.csv",index=False)

In [87]:
type(Final_table)

pandas.core.frame.DataFrame

In [92]:
file_path=r"C:\\Users\\LASYA\\Downloads\\PowerBI projects\\Vendor performance analysis\\VendorPerformanceSummary.csv"
Final_table=pd.read_csv(file_path)
print(Final_table.head())

   VendorNumber                   VendorName  Brand              Description  \
0          1128  BROWN-FORMAN CORP             1233  Jack Daniels No 7 Black
1          4425        MARTIGNETTI COMPANIES   3405    Tito's Handmade Vodka
2         17035  PERNOD RICARD USA             8068         Absolut 80 Proof
3          3960  DIAGEO NORTH AMERICA INC      4261   Capt Morgan Spiced Rum
4          3960  DIAGEO NORTH AMERICA INC      3545          Ketel One Vodka

   Volume  PurchasePrice  Actual_price  Total_purchase_quantity  \
0  1750.0          26.27         36.99                 145080.0
1  1750.0          23.19         28.99                 164038.0
2  1750.0          18.24         24.99                 187407.0
3  1750.0          16.17         22.99                 201682.0
4  1750.0          21.89         29.99                 138109.0

   Total_purchase_dollars  Total_sales_quantity  Total_sales_dollars  \
0              3811251.60              142049.0         5.101920e+06
1              3804041.22              160247.0         4.819073e+06
2              3418303.68              187140.0         4.538121e+06
3              3261197.94              200412.0         4.475973e+06
4              3023206.01              135838.0         4.223108e+06

   Total_excise_tax  FreightCost  GrossProfit  ProfitMargin  StockTurnover  \
0         260999.20     68601.68   1290667.91     25.297693       0.979108
1         294438.66    144929.24   1015032.27     21.062810       0.976890
2         343854.07    123780.22   1119816.92     24.675786       0.998575
3         368242.80    257032.07   1214774.94     27.139908       0.993703
4         249587.83    257032.07   1199901.61     28.412764       0.983556

   SalesToPurchaseRatio  VendorDependency  FreightRatio
0              1.338647          0.042067      0.018000
1              1.266830          0.086495      0.038099
2              1.327594          0.075008      0.036211
3              1.372493          0.158448      0.078815
4              1.396897          0.158448      0.085020

In [90]:
Final_table.to_sql(name="VendorPerformanceSummary",con=engine,if_exists="replace",index=False,method="multi")

InvalidRequestError: Could not reflect: requested table(s) not available in Engine(mysql+pymysql://root:***@localhost:3306/inventory): (VendorPerformanceSummary)

In [99]:
import pandas as pd

tables = pd.read_sql("SHOW TABLES;", engine)
print(tables)

        Tables_in_inventory
0           begin_inventory
1             end_inventory
2           purchase_prices
3                 purchases
4                     sales
5            vendor_invoice
6  vendorperformancesummary